body{
  background-color: rgb(19, 19, 39);
}
div{
  text-align: center;
  font-style: italic;
  font-weight: bolder;
}

.first{
  display: flex;
 flex-flow: row;
  align-content: center;
  justify-content: center;
  justify-content: baseline;
margin-top: 45px

}
.second{
   display: flex;
  align-content: center;
  justify-content: center;
  justify-content: baseline;
  flex-flow: row;

margin-top: 10px;
}
.b2,.b4,.b6{
  border-radius: 6%;
  border-style: solid;
  border-color: white;
border-width: 3px;
color: white;
}

.b1,.b3,.b5{
  border-radius: 6%;
  border-style: solid;
  border-color: rgb(67, 6, 103);
border-width: 3px;
color: rgb(67, 6, 103);
}
.b1{
  padding-block: 60px;
  padding-inline: 20px;
}
.b3{
  padding-block: 60px;
  padding-inline: 10px;
}
.b5{
  padding-block: 60px;
  padding-inline: 40px;
  margin-inline: 10px;
}
.b2{
   padding-block: 60px;
  padding-inline: 20px;
  margin-inline: 10px;
}
.b4{
   padding-block: 60px;
  padding-inline: 30px;
}
.b6{
   padding-block: 60px;
  padding-inline: 30px;
}
p{
  color: white;
}

